<header class="bg-primary text-white">
    <nav class="container mx-auto px-6 py-6 flex justify-between items-center">
        <a href="/">
            <div class="flex items-center">
                <img src="/assets/images/prodyssey-logomark.svg" alt="Prodyssey Logo" class="w-8 h-8 md:w-10 md:h-10 mr-2">
                <span class="text-lg md:text-2xl font-serif font-bold">Prodyssey</span>
            </div>
        </a>
        <ul class="flex space-x-6">
            <li class="hidden md:block"><a href="/services" class="hover:text-accent transition duration-300">Services</a></li>
            <li class="hidden md:block"><a href="/about" class="hover:text-accent transition duration-300">About</a></li>
            <li class="hidden md:block"><a href="/posts" class="hover:text-accent transition duration-300">Posts</a></li>
            <li><a href="/contact" class="hover:text-accent transition duration-300">Contact</a></li>
        </ul>
    </nav>
</header>