<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "name": "{{ title }}",
  "description": "{{ description }}",
  "provider": {
    "@type": "Organization",
    "name": "{{ site.name }}",
    "url": "{{ site.url }}"
  },
  "areaServed": "B2B SaaS Companies",
  "serviceType": "{{ serviceType }}"
}
</script>