<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} - Prodyssey</title>

        <!-- Debug info -->
        {% if isProd %}
            <!-- ENV: PRODUCTION -->
        {% else %}
            <!-- ENV: DEVELOPMENT -->
        {% endif %}

        {% if isProd %}
            <!-- Google Analytics 4 (production only) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-QYH51VNXYM"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());
                gtag('config', 'G-QYH51VNXYM');
            </script>
        {% endif %}

        {% include "components/seo.njk" %}
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather:wght@700&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
        <meta name="apple-mobile-web-app-title" content="Prodyssey"/>
        <link rel="manifest" href="/site.webmanifest"/>
    </head>
    <body class="flex flex-col min-h-screen font-sans text-text bg-background">
        <div class="fixed inset-0 pointer-events-none z-0 opacity-5"></div>
        {% include "components/header.njk" %}

        <main class="flex-grow">
            {{ content | safe }}
        </main>

        {% include "components/footer.njk" %}
    </body>
</html>