---
layout: layouts/base.njk
---

<article class="py-8 md:py-16 bg-circuit-pattern bg-opacity-5">
    <div class="container mx-auto px-4 max-w-4xl">
        <header class="mb-8 md:mb-12">
            <h1 class="text-3xl md:text-4xl font-serif font-bold text-primary">
                {{ title }}
            </h1>
            
            {% if description %}
            <p class="text-lg md:text-xl mt-4 text-gray-700">{{ description }}</p>
            {% endif %}
        </header>
        
        <div class="prose prose-lg max-w-none mb-12 space-y-6">
            {{ content | safe }}
        </div>
        
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-2xl font-serif font-bold text-secondary mb-4">Services in this Category</h2>
            <ul class="list-none mb-6 space-y-2 mt-4">
                {% set categoryServices = collections.services | filterByCategory(title) %}
                {% for service in categoryServices | sort(attribute='data.order') %}
                <li class="flex items-center">
                    <svg class="w-4 h-4 mr-2 text-accent" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    <a href="{{ service.url }}" class="text-accent hover:underline">{{ service.data.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</article>

