---
layout: layouts/base.njk
title: Product + Tech Services for B2B SaaS Profitable Growth
description: Prodyssey guides B2B SaaS teams to profitable growth through targeted services, deep expertise, and our proprietary Prodyssey framework.
image: /assets/images/home-og-image.jpg
---

<section class="text-center py-16 px-4 bg-circuit-pattern bg-opacity-5">
  <div class="container mx-auto max-w-4xl">
    <h1 class="text-5xl font-serif font-bold text-primary mb-4">
      Expert Help for SaaS Profitable Growth
    </h1>
    <p class="text-xl mb-8">
      Specialized Product, Tech, Data, AI, and Enablement Services for SaaS Companies
    </p>
    <a
      href="/services"
      class="bg-accent text-white px-8 py-3 rounded-full hover:bg-secondary transition duration-300"
      >View Services</a
    >
  </div>
</section>

{% include "components/svg-divider.njk" %}

<section class="py-16 px-4">
  <div class="container mx-auto">
    <div class="max-w-2xl mx-auto">
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        You're a key part of building a good SaaS business. It's grown to somewhere between ~5 and 75 million in ARR.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        By now, it's clear you're not on the type of rocketship most people think of when they think "tech startup".
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        But, you're not going to burn through all your cash and shut down. You're not going to get scrapped for parts. That's what happens to most of them.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
         Not your team.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        You can still make your business a <i>really</i> good one with an outcome to match when the timing is right.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        It can even be a lot of fun and not a slog along the way.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        Especially if you get the right help.
      </p>

    </div>
  </div>
</section>

{% include "components/svg-divider.njk" %}

<section class="py-16 px-4">
  <div class="container mx-auto">

    <div class="max-w-2xl mx-auto">
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        Good businesses like this have hard problems to solve:
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        Maybe you've hit a growth plateau. If not, you can see one coming if something big doesn't change.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        You've probably been in a lot of conversations about technical debt and major efforts to fix it.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        There's product baggage that's making the roadmap feel like a wish list instead of a predictable plan.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        It's harder than it should be to make something of the gold mine of data you're sitting on.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        You know the AI wave can help you, but it's hard to tell what's real and what's a waste of time.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        Your revenue teams are frustrated and aren't getting enough of what they need to be great.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        Your product and technical folks are capable and working hard but struggling to stay above water. They're also frustrated and probably burning out.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        It's time for a different approach - one focused on growing
        profitably and sustainably instead of throwing more people and dollars at these problems.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        It's a brutal transition. I've been there. 
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        I learned how to do it the hard way, and now I use the framework I've built to help others navigate that journey.
      </p>
      <p class="text-l font-serif leading-relaxed text-gray-700 mb-4">
        I want to help you and the rest of your team make it happen.
      </p>
    </div>
  </div>
</section>

<section class="py-12 px-4 bg-circuit-pattern bg-opacity-5">
  <div class="container mx-auto">
    <div class="flex flex-row items-center justify-center gap-8">
      <img
        src="/assets/images/craig-sturgis.webp"
        alt="Craig Sturgis"
        class="w-48 h-48 rounded-full shadow-lg flex-shrink-0"
/>
      <div>
        <h2 class="text-2xl font-serif font-bold text-primary">
          Craig Sturgis
        </h2>
        <p class="text-gray-700">Founder & CEO</p>
      </div>
    </div>
  </div>
</section>

<section
  class="bg-secondary p-8 rounded-lg my-16 bg-greek-pattern bg-opacity-10"
>
  <div class="container mx-auto">
    <h2 class="text-3xl font-serif font-bold mb-4">
      <a href="/framework" class="hover:underline">The Prodyssey Framework</a>
    </h2>
    <p class="text-primary mb-4">
      Our trenches-tested approach to SaaS Product, Tech, Data, AI,and
      Enablement for Profitable Growth
    </p>
    <a href="/framework" class="text-accent hover:underline">Learn More →</a>
  </div>
</section>

{% include "components/svg-divider.njk" %}
{% set emailSignup = {
  heading: "Get insights from The Journey ",
  subheading: " Join other SaaS leaders receiving valuable insights straight to their inbox.",
  buttonText: " Subscribe "
} %}
{%
include "components/email-signup.njk" %}

<section class="my-16 px-4">
  <div class="container mx-auto">
    <h2 class="text-3xl font-serif font-bold text-primary mb-8">
      <a href="/posts" class="hover:underline">Featured Posts</a>
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {% for post in collections.posts | reverse | limit(4) %}
        {% include
      "components/blog-post-card.njk" %}
      {% endfor %}
    </div>

    <div class="text-center mt-8">
      <a href="/posts" class="text-accent hover:underline">View All Posts →</a>
    </div>
  </div>
</section>

{% include "components/svg-divider.njk" %}

<section class="my-16 px-4">
  <div class="container mx-auto">
    <a href="/services">
      <h2 class="text-3xl font-serif font-bold text-primary mb-8 text-center">
        Services
      </h2>
    </a>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {% for pillar in collections.servicePillars | sort(attribute = 'data.order')
 %}

        <div class="bg-white p-6 rounded-lg shadow-md">
          <h3 class="text-2xl font-serif font-bold text-secondary my-2">
            {{ pillar.data.title }}
          </h3>

          <p class="my-4">{{ pillar.templateContent | safe }}</p>

          {% set pillarCategories = collections.serviceCategories | filterByPillar(pillar.data.title) %}
          {% if pillarCategories.length > 0
 %}
            <div class="mt-6">
              {% for category in pillarCategories | sort(attribute = 'data.order') %}
                <h4 class="text-xl font-serif font-bold text-secondary p-4">
                  {{ category.data.title }}
                </h4>

                <ul class="list-disc list-inside mb-2 p-2">
                  {% set categoryServices = collections.services | filterByCategory(category.data.title) %}
                  {% if categoryServices and
                  categoryServices.length > 0 %}
                    {% for service in categoryServices | sort(attribute = 'data.order') %}
                      <li class="my-2">
                        <a href="/services/{{ service.data.slug }}"
                >{{ service.data.title }}</a
              >
                      </li>
                    {% endfor %}
                  {% else %}
                    <li>No services found for category: {{ category.data.title }}</li>
                  {% endif %}
                </ul>
              {% endfor %}
            </div>
          {% else %}
            <p>No categories found for pillar: {{ pillar.data.title }}</p>
          {% endif %}

          <a href="{{ pillar.url }}" class="text-accent hover:underline"
          >Learn More →</a
        >
        </div>
      {% endfor %}
    </div>
  </div>
</section>