---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for page in collections.all %}
        <url>
            <loc>{{ site.url }}{{ page.url | url }}</loc>
            <lastmod>
                {% if page.data.publishedDate %}{{ page.data.publishedDate | dateFilter('yyyy-LL-dd') }}
                {% else %}{{ page.date | dateFilter('yyyy-LL-dd') }}
                {% endif %}
            </lastmod>
        </url>
    {% endfor %}
</urlset>